<ion-view class="welcome" hide-nav-bar='true'>

    <ion-content>

        <div style="margin-top: 50px;text-align: center;">

            <img src="css/img/logo.png" style="width:65%; margin:0 auto;display: block;"/>

            <h2 style="margin-top: 30px;">programs,</h2>
            <h2>services,</h2>
            <h2>mentoring,</h2>
            <h2>and support</h2>

            <div class="bottom">
                <a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:#48607a;padding-left:28px;padding-right:28px;">
                    Sign up to access our services
                </a>
                <a class="button button-block button-clear" ui-sref="app.login">
                    Already Registered?&nbsp;&nbsp;Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>
            </div>

        </div>

    </ion-content>

</ion-view>